/* for that infinity border mm */
*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #ff0099;
}

.listcls {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 46pt;
	position: absolute;
	text-decoration: none;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	text-decoration: underline;
	color: #111;
}

.navitem {
	border-style: dotted;
}

h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 26pt;
	text-align: center;
	top: 80px;
	position: relative;
	display: block;
	text-decoration-style: wavy;
}
/* the dot specifies a class*/
/* # specifies div */
#imgcon {
	width: 900px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.imgpos {
	background-image: url("image/sadb.png");	
	width: 600px;
	height: 400px;
	margin: auto;
	display: block;
	position: relative;
	top: 50px;
	vertical-align: middle;
	border-style: groove;
	border-width: 50px;
	border-color: default;
}

.imgpos:hover{
	background-image: url("image/sad.png");
	width: 600px;
	height: 400px;
}